/* -------------------------------------------------
 * style scss
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/core\/_mixin\.scss}line{font-family:\0000332}}
#featured {
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/core\/_mixin\.scss}line{font-family:\0000362}}
.col-three, .col-four, .col-two {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/core\/_mixin\.scss}line{font-family:\0000354}}
.col-three:before, .col-four:before, .col-two:before, .col-three:after, .col-four:after, .col-two:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/core\/_mixin\.scss}line{font-family:\0000358}}
.col-three:after, .col-four:after, .col-two:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/core\/_mixin\.scss}line{font-family:\00003143}}
.start-zone .link-start:after {
  content: "";
  height: 0;
  width: 0;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_col\.scss}line{font-family:\0000314}}
.col-three, .col-four, .col-two {
  margin-right: -20px;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_col\.scss}line{font-family:\0000319}}
.col-three .col, .col-four .col, .col-two .col {
  float: left;
  display: inline;
  margin-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_col\.scss}line{font-family:\0000331}}
.col-three .col {
  width: 320px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_col\.scss}line{font-family:\0000339}}
.col-four .col {
  width: 235px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgstyle\.scss}line{font-family:\0000325}}
.col-four img {
  padding: 2px;
  border: 1px solid #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000313}}
.wrap-featured {
  background-color: whitesmoke;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000316}}
#featured {
  width: 1000px;
  padding: 20px 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000322}}
#featured h1 {
  font-size: 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000325}}
#featured p {
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000329}}
.col-four {
  font-size: 16px;
  line-height: 1.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000330}}
.col-four h2 {
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000336}}
.start-zone {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000339}}
.start-zone p {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 16px;
  line-height: 2;
  padding: 10px 30px 10px 10px;
  background-color: #0078e7;
  color: #fff;
  margin-right: -10px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000351}}
.start-zone .link-start {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #f47837;
  color: #fff;
  padding: 0 10px;
  font-size: 20px;
  line-height: 2;
  position: relative;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000361}}
.start-zone .link-start:after {
  border-left: 25px solid #f47837;
  border-top: 25px dashed transparent;
  border-bottom: 25px dashed transparent;
  position: absolute;
  right: -25px;
  top: -5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000368}}
.start-zone .link-start:hover {
  background-color: #f3681f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000370}}
.start-zone .link-start:hover:after {
  border-left-color: #f3681f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000381}}
.col-four img {
  width: 229px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000386}}
.btn {
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\0000390}}
pre {
  border: 3px solid #e8e8e8;
  border-radius: 3px;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\00003100}}
.col-two .col {
  width: 490px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\00003105}}
.col-begin .col {
  background-color: whitesmoke;
}
@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\00003108}}
.col-begin h2 {
  background-color: #0078e7;
  color: #fff;
  padding-left: 10px;
  line-height: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobe\/sass\/style\.scss}line{font-family:\00003114}}
.col-begin .col-content {
  padding: 10px;
}
