<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">	
<title>固定宽度布局-左右边栏</title>
<link rel="stylesheet" href="fixed.css">
<link rel="stylesheet" href="../demo.css">
</head>
<body>
<div class="page layout-lmr">
    <div class="wrap-header">
        <div id="header">
            <div class="add-inner clearfix">
            	<h1>固定宽度布局-左右边栏</h1>
            	<p>君子曰：学不可以已。</p>
            	<p>青，取之于蓝，而青于蓝；冰，水为之，而寒于水。木直中绳，輮以为轮，其曲中规。虽有槁暴（pù），不复挺者，輮使之然也。故木受绳则直，金就砺则利，君子博学而日参省乎己，则知明而行无过矣。</p>
            </div>
        </div>
    </div><!--wrap-header-->
    <div class="wrap-container">
        <div id="container" class="clearfix">
            <div id="aside_first" class="aside">
            	<div class="add-inner clearfix">
            		<h2>左边栏</h2>
                    <p>故不登高山，不知天之高也；不临深溪，不知地之厚也；不闻先王之遗言，不知学问之大也。干、越、夷、貉之子，生而同声，长而异俗，教使之然也。诗曰：“嗟尔君子，无恒安息。靖共尔位，好是正直。神之听之，介尔景福。”神莫大于化道，福莫长于无祸。</p>
            	</div>
            </div>
            <div id="main">
                <div class="add-inner clearfix">
                	<h2>内容栏</h2>
                    <p>吾尝终日而思矣，不如须臾之所学也；吾尝跂而望矣，不如登高之博见也。登高而招，臂非加长也，而见者远；顺风而呼，声非加疾也，而闻者彰。假舆马者，非利足也，而致千里；假舟楫者，非能水也，而绝江河。君子生非异也，善假于物也。</p>
                	<p>南方有鸟焉，名曰蒙鸠，以羽为巢，而编之以发，系之苇苕，风至苕折，卵破子死。巢非不完也，所系者然也。西方有木焉，名曰射干，茎长四寸，生于高山之上，而临百仞之渊，木茎非能长也，所立者然也。蓬生麻中，不扶而直；白沙在涅，与之俱黑。兰槐之根是为芷，其渐之滫，君子不近，庶人不服。其质非不美也，所渐者然也。故君子居必择乡，游必就士，所以防邪辟而近中正也。</p>
                </div>
            </div><!--main-->
            <div id="aside_second" class="aside">
                <div class="add-inner clearfix">
                    <h2>右边栏</h2>
                    <p>积土成山，风雨兴焉；积水成渊，蛟龙生焉；积善成德，而神明自得，圣心备焉。故不积跬步，无以至千里；不积小流，无以成江海。骐骥一跃，不能十步；驽马十驾，功在不舍。锲而舍之，朽木不折；锲而不舍，金石可镂。蚓无爪牙之利，筋骨之强，上食埃土，下饮黄泉，用心一也。蟹六跪而二螯，非蛇鳝之穴无可寄托者，用心躁也。</p>
                </div>
            </div>
        </div>
    </div><!--wrap-container-->
    <div class="wrap-footer">
        <div id="footer">
            <div class="add-inner clearfix">
            	<p>@copyright 天涯社区</p>
            </div>
        </div>
    </div><!--wrap-footer-->
</div>     
</body>
</html>