/* -------------------------------------------------
 * imgslide
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003305}}
.imgslide .slide-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003337}}
.imgslide .slide-control, .imgslide .prev-btn, .imgslide .next-btn {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#80000000', endColorstr='#80000000');
  background-color: rgba(0, 0, 0, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\0000322}}
.imgslide {
  position: relative;
  width: 745px;
  margin-bottom: 21px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\0000327}}
.imgslide .slide-view {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\0000330}}
.imgslide .slide-view, .imgslide .slide-view img {
  width: 745px;
  height: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\0000334}}
.imgslide .slide-view ul {
  width: 2980px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\0000337}}
.imgslide .slide-view li {
  width: 745px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\0000344}}
.imgslide .slide-bullet {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\0000349}}
.imgslide .slide-bullet a {
  float: left;
  display: inline;
  font-family: Tahoma;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  margin-right: 5px;
  color: whitesmoke;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\0000359}}
.imgslide .slide-bullet a.active, .imgslide .slide-bullet a:hover {
  color: #00a3cf;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\0000368}}
.imgslide .slide-control {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 36px;
  width: 745px;
  line-height: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\0000377}}
.imgslide .slide-title {
  width: 625px;
  color: #fff;
  padding-left: 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\0000388}}
.imgslide .prev-btn, .imgslide .next-btn {
  position: absolute;
  top: 102px;
  font-family: "SimSun";
  font-size: 30px;
  font-weight: bold;
  width: 30px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  color: white;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\00003102}}
.imgslide .prev-btn:hover, .imgslide .next-btn:hover {
  color: #00a3cf;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\00003106}}
.imgslide .prev-btn {
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgslide\.scss}line{font-family:\00003109}}
.imgslide .next-btn {
  right: 0;
}
