/* -------------------------------------------------
 * accordion
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_accordion\.scss}line{font-family:\0000324}}
.accordion .accordion-hd {
  background-color: #ebebeb;
  height: 36px;
  margin-bottom: 10px;
  _overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_accordion\.scss}line{font-family:\0000332}}
.accordion .accordion-hd:hover {
  background-color: #006bce;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_accordion\.scss}line{font-family:\0000335}}
.accordion .accordion-hd:hover .accordion-title {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_accordion\.scss}line{font-family:\0000338}}
.accordion .accordion-hd:hover .accordion-arrow {
  border-top-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_accordion\.scss}line{font-family:\0000343}}
.accordion .accordion-title {
  float: left;
  display: inline;
  line-height: 36px;
  padding-left: 10px;
  color: #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_accordion\.scss}line{font-family:\0000349}}
.accordion .accordion-bd {
  padding: 0 10px;
  margin-bottom: 10px;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_accordion\.scss}line{font-family:\0000354}}
.accordion .accordion-arrow {
  float: right;
  display: inline;
  border-top: 8px solid #cfcfcf;
  border-left: 8px dashed transparent;
  border-right: 8px dashed transparent;
  width: 0;
  height: 0;
  margin: 14px 10px 0 0;
  cursor: pointer;
  font-size: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_accordion\.scss}line{font-family:\0000365}}
.accordion .expanded {
  background-color: #0078e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_accordion\.scss}line{font-family:\0000368}}
.accordion .expanded .accordion-title {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_accordion\.scss}line{font-family:\0000371}}
.accordion .expanded .accordion-arrow {
  border-top: none;
  border-bottom: 8px solid white;
  _font-size: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_accordion\.scss}line{font-family:\0000379}}
.accordion .expanded + .accordion-bd {
  display: block;
}
