@charset "GBK";
@import url(../demo.css);
/*
 * author:为之;
 * email:xuyc_brother[at]foxmail.com
 * copyright:http://tianya.cn
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\0000326}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\0000334}}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\0000345}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\0000352}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\0000365}}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\0000379}}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\0000385}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003101}}
a:focus {
  outline: thin dotted;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003108}}
a:hover, a:active {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003116}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003123}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003128}}
blockquote {
  margin: 1em 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003135}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003141}}
mark {
  background: #ff0;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003149}}
p,
pre {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003160}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003170}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003178}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003187}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003194}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003201}}
small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003209}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003216}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003220}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003233}}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003239}}
dd {
  margin: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003248}}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003257}}
nav ul,
nav ol {
  list-style-image: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003272}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003281}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003291}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003301}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003308}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003319}}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003336}}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003349}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003359}}
button,
select {
  text-transform: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003374}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003385}}
button[disabled],
input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003395}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003407}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003418}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003426}}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003435}}
textarea {
  overflow: auto;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_normalize\.scss}line{font-family:\00003446}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------
 * mixin
 * 通过@include调用，样式通过拷贝的方式使用
 * 尤其适用于传递参数  
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * %placeholder selector 
 * 通过@extend调用，样式组合申明，适用于无参数
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_mixin\.scss}line{font-family:\00003263}}
ul.inline-block li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_mixin\.scss}line{font-family:\00003274}}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .fl, .container .column, #maincolumn, #sidebar {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_mixin\.scss}line{font-family:\00003277}}
.fr {
  float: right;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_mixin\.scss}line{font-family:\00003282}}
.clearfix, ul.inline-float, .container {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_mixin\.scss}line{font-family:\0000338}}
.clearfix:before, ul.inline-float:before, .container:before, .clearfix:after, ul.inline-float:after, .container:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_mixin\.scss}line{font-family:\0000343}}
.clearfix:after, ul.inline-float:after, .container:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_mixin\.scss}line{font-family:\00003287}}
.hidden {
  display: none !important;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_mixin\.scss}line{font-family:\00003292}}
.visuallyhidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_mixin\.scss}line{font-family:\00003297}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_mixin\.scss}line{font-family:\00003302}}
ul.has-style, ul.disc, ul.circle, ul.square {
  margin-left: 25px;
  list-style: disc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_mixin\.scss}line{font-family:\00003307}}
.ir {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  _line-height: 99;
  _overflow: hidden;
}

/* -------------------------------------------------
 * function
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * reset adjust
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\000036}}
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000313}}
body {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000323}}
body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000326}}
img {
  border: 0 none;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000330}}
textarea {
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000333}}
h1, h2, h3, h4, h5, h6, p, figure, form {
  margin: 0;
}

/* ul ol dl */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000337}}
ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000341}}
ul, ol {
  list-style: none outside none;
}

@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000350}}
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000358}}
  a,
  a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000362}}
  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000366}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000376}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000381}}
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000386}}
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000391}}
  tr,
  img {
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\0000395}}
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\00003105}}
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_reset\.scss}line{font-family:\00003111}}
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* -------------------------------------------------
 * grid
 * thanks 
 * http://www.blankwork.net/
 * http://semantic.gs/
 * http://heygrady.com/blog/2011/02/17/using-sass-with-the-1kb-grid-system/   
 * https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_flex-grid.scss
 * http://bjorkoy.com/2010/05/css-grids-with-sass/
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\0000387}}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .container .column, #maincolumn, #sidebar {
  margin-left: 10px;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span1 {
  width: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span2 {
  width: 140px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span3 {
  width: 220px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span4 {
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span5 {
  width: 380px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span6 {
  width: 460px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span7 {
  width: 540px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span8 {
  width: 620px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span9 {
  width: 700px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span10 {
  width: 780px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span11 {
  width: 860px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_grid\.scss}line{font-family:\00003156}}
.span12 {
  width: 940px;
}

/* -------------------------------------------------
 * some useful class
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_helpers\.scss}line{font-family:\0000330}}
.tal {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_helpers\.scss}line{font-family:\0000333}}
.tar {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_helpers\.scss}line{font-family:\0000336}}
.tac {
  text-align: center;
}

/* -------------------------------------------------
 * 需要引入的变量 和 placeholder selector
 * 变量       ：$linkColor，$baseFontSize，$grayDark, $gray，$baseLineHeight
 * placeholder：%ul-has-style，%inline-block，%clearfix
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000310}}
a {
  text-decoration: none;
  color: #0088cc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000313}}
a:hover {
  color: #006699;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000318}}
h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000322}}
h1 {
  font-size: 21px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000325}}
h2 {
  font-size: 18.2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000328}}
h3 {
  font-size: 16.38px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000331}}
h4 {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000334}}
h5, h6 {
  font-size: 11.9px;
  text-transform: uppercase;
}

/* ul/ol has list style*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000342}}
ul.circle {
  list-style: circle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000345}}
ul.square {
  list-style: square;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000351}}
ul.inline-float li {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000357}}
ul.inline-block li {
  margin-right: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000366}}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  line-height: 1.3;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000370}}
.article ul, .article ol {
  margin-left: 25px;
  list-style-type: disc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000374}}
.article ol {
  list-style-type: decimal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000377}}
.article p, .article ul, .article ol, .article dl {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000380}}
.article ul ul, .article ul ol, .article ol ol, .article ol ul {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000383}}
.article dt {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000386}}
.article dd {
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000392}}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 10px;
  border-left: 3px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\0000396}}
blockquote small {
  font-size: 11.9px;
  display: block;
  line-height: 1.5;
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\00003101}}
blockquote small:before {
  content: '\2014 \00A0';
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\00003111}}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\00003116}}
address {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  line-height: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_typography\.scss}line{font-family:\00003124}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*----------------------------------------------------*\
 * Grid
\*----------------------------------------------------*/
/*----------------------------------------------------*\
 * LAYOUT
\*----------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/layout\/fixed\/fixed\.scss}line{font-family:\0000316}}
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/layout\/fixed\/fixed\.scss}line{font-family:\0000319}}
.container .column {
  width: 940px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/layout\/fixed\/fixed\.scss}line{font-family:\0000325}}
#header .column {
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/layout\/fixed\/fixed\.scss}line{font-family:\0000330}}
#maincolumn {
  width: 700px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/layout\/fixed\/fixed\.scss}line{font-family:\0000333}}
#sidebar {
  width: 220px;
}
