<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Tobe Grid System | Fixed-width Example</title>
	<link rel="stylesheet" href="fixed.css">
</head>
<body>
	<header id="header" role="header">
		<div class="container">
			<div class="column">
				<h1><a href="##">The Tobe Grid System | Fixed-width Example</a></h1>
			</div>			
		</div>
	</header>
	<section id="pager" role="page">
		<div class="container">
			<article id="maincolumn" role="main">
				<h2>Main</h2>
			</article>
			<aside id="sidebar" role="aside">
				<h2>Sidebar</h2>
			</aside>
		</div>
	</section>
	<footer id="footer" role="footer">
		<div class="container">
			<div class="column">
				<h2>footer</h2>
			</div>			
		</div>
	</footer>
</body>
</html>