<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Tobe Grid System | Fluid Example</title>
	<link rel="stylesheet" href="fluid.css">
</head>
<body>
	<header id="header" role="header">
		<h1><a href="##">The Tobe Grid System | Fluid Example</a></h1>
	</header>

	<article id="maincolumn" role="main">
		<h2>Main</h2>
	</article>

	<aside id="sidebar" role="aside">
		<h2>Sidebar</h2>
	</aside>
	
	<footer id="footer" role="footer">
		<h2>footer</h2>
	</footer>
</body>
</html>