/* -------------------------------------------------
 * nav scss
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003262}}
#top_nav {
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003357}}
.aside-nav li a {
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000321}}
.wrap-top-bar {
  background-color: #333333;
  z-index: 1010;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000325}}
#top_nav {
  line-height: 36px;
  width: 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000330}}
#top_nav li {
  text-transform: capitalize;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000333}}
#top_nav a {
  display: block;
  padding: 0 15px;
  color: #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000339}}
#top_nav li a:hover,
#top_nav .active a {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000352}}
.aside-nav {
  background-color: #ebebeb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000354}}
.aside-nav li {
  border-bottom: 1px solid #f8f8f8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000356}}
.aside-nav li:last-child {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000359}}
.aside-nav li a {
  display: block;
  line-height: 30px;
  color: #333333;
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000368}}
.aside-nav li a:hover,
.aside-nav .active a {
  background-color: #0078e7;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000383}}
#nav {
  background-color: #ebebeb;
  line-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000387}}
#nav li {
  border-right: 1px solid #f8f8f8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000390}}
#nav li a {
  color: #333333;
  width: 120px;
  text-align: center;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_nav\.scss}line{font-family:\0000398}}
#nav li a:hover,
#nav .active a {
  background-color: #0078e7;
  color: white;
}
