/* -------------------------------------------------
 * rank
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003305}}
.rank-list .title-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003347}}
.rank-list li {
  border-bottom: 1px dashed #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_rank\.scss}line{font-family:\0000316}}
.rank-list {
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_rank\.scss}line{font-family:\0000318}}
.rank-list li {
  list-style: none outside none;
  text-align: right;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_rank\.scss}line{font-family:\0000327}}
.rank-list li.last, .rank-list li:last-child {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_rank\.scss}line{font-family:\0000331}}
.rank-list i {
  float: left;
  display: inline;
  font-style: normal;
  text-align: center;
  background-color: #cccccc;
  overflow: hidden;
  margin-right: 6px;
  width: 16px;
  height: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_rank\.scss}line{font-family:\0000347}}
.rank-list .rank-1st i,
.rank-list .rank-2nd i,
.rank-list .rank-3rd i {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_rank\.scss}line{font-family:\0000350}}
.rank-list .rank-1st i {
  background-color: #FA4D11;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_rank\.scss}line{font-family:\0000353}}
.rank-list .rank-2nd i {
  background-color: #FA8411;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_rank\.scss}line{font-family:\0000356}}
.rank-list .rank-3rd i {
  background-color: #FAC011;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_rank\.scss}line{font-family:\0000359}}
.rank-list .title-link {
  float: left;
  display: inline;
  text-align: left;
  width: 160px;
}
