@charset "utf-8";
//-----------------------------------------------------
// avatar scss
//-----------------------------------------------------


// 变量
//---------------------------------
$avatarGutter:            10px !default;
$avatarImgSize:           50px 50px !default; //图片的宽高
$avatarItemWidth:         56px !default; //没有边框的情况下，宽度等于图片的宽度


// mixin
//---------------------------------
@mixin avatar-variables($itemWidth:$avatarItemWidth, $img:$avatarImgSize, $gutter:$avatarGutter){
	margin-right:-$gutter;

	@if $lte7{
		*padding-bottom: $gutter;
	}
	li,strong{
		width: $itemWidth;
	}
	li{
		margin:0 $gutter $gutter 0;
	}
	img{
		width: nth($img,1);
		height: nth($img,2);
		padding: 2px;
		border:1px solid $gray;
	}
}


// 样式
//---------------------------------
.avatar-list{
	@extend %clearfix;
	@include avatar-variables;
	li{
		@include float;
	}
	strong{
		font-weight:normal;
		text-align:center;
		display:block;
		line-height:30px;
		@extend %ellipsis-basic;
	}
}