@charset "utf-8";
//-----------------------------------------------------
// imgtextV scss
//-----------------------------------------------------


// 变量
//---------------------------------
$imgtextVGutter:            20px !default;
$imgtextVImgSize:           220px 130px !default;//图片的宽高
$imgtextVItemWidth:         220px !default;//没有边框的情况下，宽度等于图片的宽度


// 变量mixin
//---------------------------------
@mixin imgtext-v-variables($itemWidth:$imgtextVItemWidth, $img:$imgtextVImgSize, $gutter:$imgtextVGutter){
	margin-right:-$gutter;
	@if $lte7{
		*padding-bottom: $gutter;
	}
	li{
		width: $itemWidth;
		margin:0 $gutter $gutter 0;
	}
	img{
		width:nth($img,1);
		height:nth($img,2);
	}
}


//默认样式
//---------------------------------
.imgtext-v-list{
	@extend %clearfix;
	@include imgtext-v-variables;
	li{
		@include float;
	}
	.img-link{
		display: block;
	}
	h3{
		@extend %ellipsis-basic;
		width: 100%;
		font-weight:normal;
		line-height:30px;
	}
}