@charset "utf-8";
//-----------------------------------------------------	
// speak list
// 评论或微博等信息列表
//-----------------------------------------------------	


// 变量
//---------------------------------
$speakImgSize:        50px 50px !default;//图片大小
$speakImgRadius:      0 !default;//图片圆角，如果不要设置为0
$speakGutter:         10px !default; //图片与文字的间距


// 样式
//---------------------------------
.speak-item{
	
	@extend %clearfix;
	padding-left: nth($speakImgSize,1) + $speakGutter;

	.speak-left{
		@include float;
		margin-left: - (nth($speakImgSize,1) + $speakGutter);

		img{
			width: nth($speakImgSize,1);
			height: nth($speakImgSize,2);
			@if not(unitless($speakImgRadius)){
				@include border-radius($speakImgRadius);
			}
		}
	}
	.speak-right{
		h3{
			line-height: 1.3;
			margin-bottom: 5px;
			font-weight: bold;
		}
	}
	.speak-content{
		margin-bottom: 10px;
	}
}
