@charset "utf-8";
/* -------------------------------------------------
 * message
 * -------------------------------------------------
*/
@import 'D:/sassCore/function';
$msgClassSwitch:             true true true true;
@import 'D:/sassCore/ext/message';

.msg-box{
	margin-bottom: 20px;
	position: relative;
}