/* -------------------------------------------------
 * titlelist
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003305}}
.title-list .title-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_titlelist\.scss}line{font-family:\0000317}}
.title-list li {
  line-height: 25.2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_titlelist\.scss}line{font-family:\0000320}}
.title-list .title-link {
  display: block;
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_titlelist\.scss}line{font-family:\0000327}}
.title-left li {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_titlelist\.scss}line{font-family:\0000330}}
.title-left .title-link {
  float: left;
  display: inline;
  width: 300px;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_titlelist\.scss}line{font-family:\0000340}}
.title-list li {
  background: url("images/icon-circle.gif") no-repeat 0;
  /*1*/
  padding-left: 12px;
}
