@charset "UTF-8";
/* -------------------------------------------------
 * form scss
 * -------------------------------------------------
*/
/*
 * author:为之;
 * email:xuyc_brother@foxmail.com;
 * blog:http://www.w3cplus.com;
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000328}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000336}}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000347}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000354}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000367}}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000381}}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000387}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003103}}
a:focus {
  outline: thin dotted;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003110}}
a:hover, a:active {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003118}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003125}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003130}}
blockquote {
  margin: 1em 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003137}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003143}}
mark {
  background: #ff0;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003151}}
p,
pre {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003162}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003172}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003180}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003189}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003196}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003203}}
small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003211}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003218}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003222}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003235}}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003241}}
dd {
  margin: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003250}}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003259}}
nav ul,
nav ol {
  list-style-image: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003274}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003283}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003293}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003303}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003310}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003321}}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003338}}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003351}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003361}}
button,
select {
  text-transform: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003376}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003387}}
button[disabled],
input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003397}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003409}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003420}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003428}}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003437}}
textarea {
  overflow: auto;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003448}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------
 * mixin
 * 通过@include调用，样式通过拷贝的方式使用
 * 尤其适用于传递参数  
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * %placeholder selector 
 * 通过@extend调用，样式组合申明，适用于无参数
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003227}}
ul.inline-block li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003237}}
.fl, .fr {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003245}}
.clearfix, ul.inline-float, .form .form-item, .form-inline {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000340}}
.clearfix:before, ul.inline-float:before, .form .form-item:before, .form-inline:before, .clearfix:after, ul.inline-float:after, .form .form-item:after, .form-inline:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000345}}
.clearfix:after, ul.inline-float:after, .form .form-item:after, .form-inline:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003250}}
.hidden {
  display: none !important;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003255}}
.visuallyhidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003260}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003265}}
ul.has-style, ul.disc, ul.circle, ul.square {
  margin-left: 25px;
  list-style: disc;
}

/* -------------------------------------------------
 * function
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * reset adjust
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\000036}}
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000313}}
body {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000323}}
body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000326}}
img {
  border: 0 none;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000330}}
textarea {
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000333}}
h1, h2, h3, h4, h5, h6, p, figure, form {
  margin: 0;
}

/* ul ol dl */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000337}}
ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000341}}
ul, ol {
  list-style: none outside none;
}

/* -------------------------------------------------
 * grid
 * thanks 
 * http://www.blankwork.net/
 * http://semantic.gs/
 * http://heygrady.com/blog/2011/02/17/using-sass-with-the-1kb-grid-system/   
 * https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_flex-grid.scss
 * -------------------------------------------------
*/
/* prepend n blank columns */
/* append n blank columns */
/* -------------------------------------------------
 * some useful class
 * -------------------------------------------------
*/
/* 浮动及清除浮动*/
/* 不同形式的隐藏 */
/* text-align:left/right/center; */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000327}}
.tal {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000330}}
.tar {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000333}}
.tac {
  text-align: center;
}

/* -------------------------------------------------
 * 需要引入的变量 和 placeholder selector
 * 变量       ：$linkColor，$baseFontSize，$grayDark, $gray，$baseLineHeight
 * placeholder：%ul-has-style，%inline-block，%clearfix
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000310}}
a {
  text-decoration: none;
  color: #0088cc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000313}}
a:hover {
  color: #006699;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000318}}
h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000322}}
h1 {
  font-size: 21px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000325}}
h2 {
  font-size: 18.2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000328}}
h3 {
  font-size: 16.38px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000331}}
h4 {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000334}}
h5, h6 {
  font-size: 11.9px;
  text-transform: uppercase;
}

/* ul/ol has list style*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000342}}
ul.circle {
  list-style: circle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000345}}
ul.square {
  list-style: square;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000351}}
ul.inline-float li {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000358}}
ul.inline-block li {
  margin-right: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000365}}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  line-height: 1.3;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000369}}
.article ul, .article ol {
  margin-left: 25px;
  list-style-type: disc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000373}}
.article ol {
  list-style-type: decimal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000376}}
.article p, .article ul, .article ol, .article dl {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000379}}
.article ul ul, .article ul ol, .article ol ol, .article ol ul {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000382}}
.article dt {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000385}}
.article dd {
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000390}}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 10px;
  border-left: 3px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000394}}
blockquote small {
  font-size: 11.9px;
  display: block;
  line-height: 1.5;
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000399}}
blockquote small:before {
  content: '\2014 \00A0';
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\00003109}}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\00003114}}
address {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  line-height: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\00003122}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003131}}
.form {
  font-size: 12px;
  margin-bottom: 9px;
  /*form-required*/
  /* codePic */
  /* inline */
  /*inputbtn*/
  /* 注册链接 */
  /* description */
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003134}}
.form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003139}}
.form legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 9px;
  font-size: 21px;
  line-height: 3;
  color: #999999;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003150}}
.form input, .form button, .form textarea {
  vertical-align: middle;
  margin-bottom: 9px;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003155}}
.form textarea {
  resize: none;
  vertical-align: top;
  overflow: auto;
  width: 500px;
  height: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003162}}
.form label {
  display: block;
  font-size: 14px;
  line-height: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003167}}
.form input:focus, .form textarea:focus, .form select:focus {
  outline: 0 none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003170}}
.form .form-radio, .form .form-checkbox {
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 13px;
  width: 13px;
  height: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003173}}
.form .form-item {
  margin-bottom: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003177}}
.form .form-text {
  margin-top: 0;
  margin-bottom: 0;
  width: 200px;
  height: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003183}}
.form .form-text, .form textarea {
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 4px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\0000355}}
.form .form-text:focus, .form textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000388}}
.form .form-text:-moz-placeholder, .form textarea:-moz-placeholder {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000389}}
.form .form-text::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000390}}
.form .form-text:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000391}}
.form .form-text::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003187}}
.form select {
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 4px;
  *margin-top: 5px;
  *vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003196}}
.form .form-field-rc, .form input, .form textarea, .form select, .form .form-text {
  margin-bottom: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003200}}
.form .form-item .form-field-rc, .form .form-item input, .form .form-item textarea, .form .form-item select, .form .form-item .form-text {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003207}}
.form .file-wrap {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0px;
  width: 70px;
  height: 28px;
  background-color: #00a3cf;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003217}}
.form .file-wrap .replace-text {
  display: block;
  line-height: 28px;
  cursor: pointer;
  color: #fff;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003224}}
.form .file-wrap .form-file {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 70px;
  height: 28px;
  left: 0;
  top: 0;
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003236}}
.form .file-wrap:hover {
  background-color: #007b9c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003243}}
.form .form-field-rc label {
  float: left;
  display: inline;
  text-align: left;
  width: auto;
  font-weight: normal;
  margin: 0 5px 0 0;
  line-height: 18px;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003252}}
.form .form-field-rc .field-list-block {
  display: block;
  float: none;
  margin: 0 0 5px 0;
  overflow: auto;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003261}}
.form .form-field-rc .field-list-block:last-child {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003266}}
.form .form-field-rc .form-radio,
.form .form-field-rc .form-checkbox,
.form .form-field-rc span {
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003270}}
.form .form-field-rc .form-radio,
.form .form-field-rc .form-checkbox {
  margin-top: 2.5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003276}}
.form .form-action {
  clear: both;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003280}}
.form .form-action .inputbtn {
  margin-bottom: 0;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003285}}
.form .action-left {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003289}}
.form .icon-required {
  color: #9d261d;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003298}}
.form .code-pic {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003300}}
.form .code-pic img {
  height: 28px;
  vertical-align: middle;
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003307}}
.form .inline-ele {
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003310}}
.form .inline-item {
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003314}}
.form .inputbtn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
  text-align: center;
  padding: 0 16px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0 none;
  height: 28px;
  overflow: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003320}}
.form .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
  text-align: center;
  padding: 0 16px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: 28px;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003325}}
.form .greybtn {
  border: 1px solid #cccccc;
  color: #666;
  background-color: #eee;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
  -webkit-box-shadow: inset 0 1px 1px white, 0 0 1px white inset;
  box-shadow: inset 0 1px 1px white, 0 0 1px white inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003333}}
.form .greybtn:hover {
  background: #e6e6e6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003337}}
.form .p-bluebtn {
  color: #fff;
  background-color: #1081DD;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003340}}
.form .p-bluebtn:hover {
  background-color: #2597f4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003344}}
.form .p-greybtn {
  background-color: #eee;
  color: #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003347}}
.form .p-greybtn:hover {
  background-color: #e6e6e6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003352}}
.form .link-register {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 28px;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003358}}
.form .form-des {
  color: #999999;
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003362}}
.form p.form-des {
  margin: 0;
  line-height: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003373}}
.form input[disabled],
.form select[disabled],
.form textarea[disabled],
.form input[readonly],
.form select[readonly],
.form textarea[readonly],
.form .disabled {
  cursor: not-allowed;
  background-color: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003381}}
.form input[type="radio"][disabled],
.form input[type="checkbox"][disabled],
.form input[type="radio"][readonly],
.form input[type="checkbox"][readonly] {
  background-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003393}}
.form-inline * {
  float: left;
  display: inline;
  margin-right: 5px;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003399}}
.form-inline .form-radio,
.form-inline .form-checkbox {
  margin-top: 7.5px;
}

/* 火狐bug 最新版本已经修复了这两个问题 */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003422}}
.form-horizontal label {
  float: left;
  display: inline;
  text-align: right;
  width: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003428}}
.form-horizontal .form-field,
.form-horizontal .action-left {
  margin-left: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003431}}
.form-horizontal .form-field-rc {
  margin-top: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003438}}
.form {
  /* block status tips */
  /* span inline status tips */
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003440}}
.form .error, .form .alert, .form .warning, .form .success, .form .info {
  border: 2px solid #cccccc;
  margin-bottom: 9px;
  padding: 8px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding-left: 25px;
  background-position: 5px center;
  background-repeat: no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\0000379}}
.form .error a, .form .alert a, .form .warning a, .form .success a, .form .info a {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003444}}
.form span.error, .form span.alert, .form span.warning, .form span.success, .form span.info {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-width: 1px;
  line-height: 26px;
  vertical-align: middle;
  padding: 0 5px;
  margin: 0 0 0 5px;
  padding-left: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003456}}
.form .error, .form .alter {
  background-color: #fbe3e4;
  border-color: #fbc2c4;
  color: #8a1f11;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAKlBMVEX////XY1Hma1rsfGbzhm3vloXwqZz3uanxwLX4z8f76+j//v7////KWkTZGHxrAAAAAXRSTlMAQObYZgAAAAFiS0dEDIGzUWMAAAAJcEhZcwAACxMAAAsTAQCanBgAAACSSURBVHheTc4xC4JAAEDhBwaZUy5tQYgYrl0QBW3aUNvh5WqEBI2WzbU2FbS5SESEa/QT2htb/C/R5pve+FHpEXhHgIa32okTcAkDP3XB8FNPhDJHH0xvw2cSUYv7RSZVB20rZm/L+aBtRFb0/qPc1+iqmtS7jrQOiwjDTiyzNc7hPJH28gvo5jwu9wD3drmuGH4w6SDkKQ/JcAAAAABJRU5ErkJggg==);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\0000395}}
.form .error a, .form .alter a {
  color: #8a1f11;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003462}}
.form .success {
  background-color: #e6efc2;
  border-color: #c6d880;
  color: #264409;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEX///88kTZIoTZnuktxwGB+xG2Vyoag1pSr2J2y26e64LPT4c7j8OD9/vz///80fTAtdG2AAAAAAXRSTlMAQObYZgAAAAFiS0dEDm+9ME8AAAAJcEhZcwAACxMAAAsTAQCanBgAAACcSURBVHheTY6vCsJQHIUPLih6g/gCJotFmEMw+1PwRrmiQ8SBfxhilctewGRSh1XDjBZ9gCXBF1j0Ce5A65J3baecD074DjJ5d5r7tEuWdzYvAB7r7ehWB1grEEN7EKLABVFwdGBIQVytysj5/HmPxl8NUxUvNBiy+4ksPeXbNJnTwQGrnYj6sxC42suenwAoVtxdI1XgVf1tMh/++cUnmPeAc0MAAAAASUVORK5CYII=);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\0000395}}
.form .success a {
  color: #264409;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003468}}
.form .warning {
  background-color: #fff6bf;
  border-color: #ffd324;
  color: #514721;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEX////4ol3+lDf8nEP7hTH3sHb8uHr9x5HvgjTccCbxdCv0ey365M/98ur////UZyH41bQKCY76AAAAAXRSTlMAQObYZgAAAAFiS0dEDm+9ME8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAB/SURBVHhebc83FoRQDENR5Phj2P9qR3CYDnfvqvL1efNAFTn/PaCRGaLnbY6hNNgjE0jVtUQSZRJS2TdQShIQoSIEM6AQJNkE48Um2A02lvXeH1AHN8/eGlAJWdKsr9Vai+qEWcAVYJc9CNepGkywD/ORCndU9nvD697bx+fnP09wBLDgAeJUAAAAAElFTkSuQmCC);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\0000395}}
.form .warning a {
  color: #514721;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003474}}
.form .info {
  background-color: #d5edf8;
  border-color: #92cae4;
  color: #205791;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEX///9YjONeju9qlex7ou2Fqe+UsvCkvffc5PXw9f67y/FNe9FDb8rE0/H///+wxPK4ye8p1NT7AAAAAXRSTlMAQObYZgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAIVJREFUeF5tj8kOg0AMQ2tnnQ36/1/bDNAbPkR6T0rkfF7Tuoro2f6cKh7hIuthsTCpobhMUwvm0Zxl9tYpQXZfjQxECXVjxQ/SDCUYsrmtPeclWDk6gVvItZIGQG3sowgSXQHE8BINGkBqsczcRdbQMECLv3fVPoa52yh+kj7mnJ6vn/8A/N4D4ObQweQAAAAASUVORK5CYII=);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\0000395}}
.form .info a {
  color: #205791;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003104}}
.form .item-warning label,
.form .item-warning .form-des {
  color: #514721;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003112}}
.form .item-warning .checkbox,
.form .item-warning .radio,
.form .item-warning input,
.form .item-warning select,
.form .item-warning textarea {
  color: #514721;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003117}}
.form .item-warning input,
.form .item-warning select,
.form .item-warning textarea {
  border-color: #ffd324;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003120}}
.form .item-warning input:focus,
.form .item-warning select:focus,
.form .item-warning textarea:focus {
  border-color: #f0c000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffe78a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffe78a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003104}}
.form .item-error label,
.form .item-error .form-des {
  color: #8a1f11;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003112}}
.form .item-error .checkbox,
.form .item-error .radio,
.form .item-error input,
.form .item-error select,
.form .item-error textarea {
  color: #8a1f11;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003117}}
.form .item-error input,
.form .item-error select,
.form .item-error textarea {
  border-color: #fbc2c4;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003120}}
.form .item-error input:focus,
.form .item-error select:focus,
.form .item-error textarea:focus {
  border-color: #f89296;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003104}}
.form .item-success label,
.form .item-success .form-des {
  color: #264409;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003112}}
.form .item-success .checkbox,
.form .item-success .radio,
.form .item-success input,
.form .item-success select,
.form .item-success textarea {
  color: #264409;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003117}}
.form .item-success input,
.form .item-success select,
.form .item-success textarea {
  border-color: #c6d880;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003120}}
.form .item-success input:focus,
.form .item-success select:focus,
.form .item-success textarea:focus {
  border-color: #b4cc59;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #e9f0ce;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #e9f0ce;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003104}}
.form .item-info label,
.form .item-info .form-des {
  color: #205791;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003112}}
.form .item-info .checkbox,
.form .item-info .radio,
.form .item-info input,
.form .item-info select,
.form .item-info textarea {
  color: #205791;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003117}}
.form .item-info input,
.form .item-info select,
.form .item-info textarea {
  border-color: #92cae4;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/form\/form\.scss}line{font-family:\00003120}}
.form .item-info input:focus,
.form .item-info select:focus,
.form .item-info textarea:focus {
  border-color: #69b6da;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #e4f2f8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #e4f2f8;
}
