@charset "utf-8";
/* -------------------------------------------------
 * form scss
 * -------------------------------------------------
*/
@import 'D:/sassCore/base';
// @import '../../sass/components/btn';
.btn,.inputbtn{
	margin:0 20px;
}
$gradientBtn: false !default;

//btn
@mixin btn($padding:16px, $height:30px, $fontSize:$baseFontSize, $radius:$baseRadius){
	@include inline-block;
	cursor: pointer;
	text-align:center;
    padding:0 $padding;
	font-size:$fontSize;
	line-height: $height;
	color:$white;
	@include border-radius($radius);
}

//input btn
@mixin inputbtn($padding:16px, $height:30px, $fontSize:$baseFontSize, $radius:$baseRadius){
	@include inline-block;
	cursor: pointer;
	text-align:center;
    padding:0 $padding;
	font-size:$fontSize;
	height: $height;
	border:none;
	@include border-radius($radius);

	@if $lte7 {
		*overflow:visible;
		*zoom:1;
	}
}

//gradient-btn
%gradient-btn {
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iNDYlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 46%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(46%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 46%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 46%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 46%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 46%); /* W3C */
	@if $filter{
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
		:root &{
		   filter: none\9;
		}
	}
}

//btn-color
@mixin btn-color($color:$gray){
	background-color: $color;
	@if $gradientBtn {
		@extend %gradient-btn;
		border:1px solid darken($color, 5%);
		border-color:lighten($color, 2%) darken($color, 5%) darken($color, 5%) lighten($color, 2%);
	}
}


.btn{
	@include btn;
}
.inputbtn{
	@include inputbtn;
}
.large-btn{
	@include btn(40px,40px,18px,6px);
}
.small-btn{
	@include btn(5px,20px,12px,3px);
}
.redbtn{
	@include btn-color($red);
}
.greenbtn{
	@include btn-color($green);
}
.orangebtn{
	@include btn-color($orange);
}
.graybtn{
	@include btn-color;
}
.lightgraybtn{
	@include btn-color($grayLight);
}
.darkgraybtn{
	@include btn-color($grayDark);
}
.bluebtn{
	@include btn-color($blue);
}