@charset "utf-8";
/* -------------------------------------------------
 * btn scss
 * -------------------------------------------------
*/



@import 'D:/sassCore/function';

$btnSizeClass:           (small 5px 21px 12px) (large 40px 40px 18px);
$btnColorClass:          (blue $blue #fff) (orange $orange #fff) (red $red #fff) (green $green #fff) (gray-light $grayLight #333) (gray-dark $grayDark #fff);
@import 'D:/sassCore/ext/btn';


.btn,.formbtn{
	margin: 20px;
}
.btns-group{
	margin-bottom: 20px;
	.btn{
		margin: 0
	}
}
@include btn-color-multi();
@include btn-size-multi();