@charset "utf-8";
/* -------------------------------------------------
 * btn scss
 * -------------------------------------------------
*/

$btnsGrounpSwitch:true;// 开启按钮组
@import 'D:/tobe/function';
@import 'D:/tobe/components/btn';
.btn,.formbtn{
	margin: 20px;
}
.btns-group{
	margin-bottom: 20px;
	.btn{
		margin: 0
	}
}