/* -------------------------------------------------
 * form scss
 * -------------------------------------------------
*/
.btn-right, .form-inline .form-label, .form-inline .form-label-rc {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.form .form-item {
  *zoom: 1; }
  .form .form-item:before, .form .form-item:after {
    content: "";
    display: table;
    font: 0/0 a; }
  .form .form-item:after {
    clear: both; }

.form-disabled {
  background-color: #e6e6e6 !important;
  color: #ababab !important;
  cursor: not-allowed !important; }

.form-label {
  font-size: 14px;
  line-height: 28px; }

.form-text {
  vertical-align: middle;
  width: 200px;
  height: 18px; }

.form-textarea {
  resize: none;
  vertical-align: top;
  overflow: auto;
  width: 500px;
  height: 80px; }

.form-text, .form-textarea {
  border: 1px solid #cccccc;
  padding: 4px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
  .form-text:focus, .form-textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }

.form-radio, .form-checkbox {
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 13px;
  width: 13px;
  height: 13px; }

.form-select {
  border: 1px solid #cccccc;
  padding: 4px;
  *margin-top: 5px;
  *margin-bottom: 5px;
  *vertical-align: top; }

.form-text:focus, .form-textarea:focus, .form-select:focus {
  outline: 0 none; }

.form-file-wrap {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0px;
  width: 70px;
  height: 28px;
  background-color: #0078e7;
  position: relative;
  overflow: hidden; }
  .form-file-wrap .form-file-replace-text {
    display: block;
    line-height: 28px;
    cursor: pointer;
    color: #fff;
    text-align: center; }
  .form-file-wrap .form-file {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 70px;
    height: 28px;
    left: 0;
    top: 0;
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 1; }
  .form-file-wrap:hover {
    background-color: #005eb4; }

.form-label-rc {
  display: inline;
  float: left;
  font-size: 12px;
  margin-right: 5px;
  line-height: 18px; }
  .form-label-rc .form-radio,
  .form-label-rc .form-checkbox,
  .form-label-rc span {
    float: left;
    display: inline; }
  .form-label-rc .form-radio,
  .form-label-rc .form-checkbox {
    margin-top: 2.5px; }

.form-label-rc-block {
  display: block;
  float: none;
  margin: 0 0 5px;
  overflow: auto;
  padding-left: 20px;
  *zoom: 1;
  _padding-left: 17px; }
  .form-label-rc-block .form-radio,
  .form-label-rc-block .form-checkbox {
    margin-left: -20px;
    *margin-left: -17px; }

.form-des {
  color: #999999;
  margin-left: 5px; }

p.form-des {
  margin: 0;
  line-height: 28px; }

.form-required {
  color: #cc3300;
  margin-right: 5px; }

.form-captcha {
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  .form-captcha img {
    height: 28px;
    vertical-align: middle;
    margin: 0 5px; }

.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding: 0 16px;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none; }

.inputbtn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding: 0 16px;
  font-size: 14px;
  border: 0 none;
  height: 28px;
  overflow: visible; }

.p-bluebtn {
  color: #fff;
  background-color: #0078e7; }
  .p-bluebtn:hover {
    background-color: #005eb4; }

.p-graybtn {
  background-color: #eee;
  color: #444; }
  .p-graybtn:hover {
    background-color: #e6e6e6; }

.g-graybtn {
  border: 1px solid #cccccc;
  color: #666;
  background-color: #eee;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  -webkit-box-shadow: inset 0 1px 1px white, 0 0 1px white inset;
  box-shadow: inset 0 1px 1px white, 0 0 1px white inset; }
  .g-graybtn:hover {
    background: #e6e6e6; }

.btn-right {
  vertical-align: middle;
  line-height: 28px;
  margin-left: 10px; }

.form {
  font-size: 12px;
  margin-bottom: 9px;
  /* inline */ }
  .form fieldset {
    padding: 0;
    margin: 0;
    border: 0; }
  .form legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 9px;
    font-size: 21px;
    line-height: 3;
    color: #999999;
    border: 0;
    border-bottom: 1px solid #e5e5e5; }
  .form .form-item {
    margin-bottom: 9px;
    clear: both; }
  .form .form-action {
    clear: both;
    text-align: center; }
  .form .action-left {
    text-align: left; }
  .form .inline-ele {
    margin-right: 5px; }
  .form .inline-item {
    float: left;
    display: inline;
    clear: none; }

.form-horizontal .form-label {
  float: left;
  display: inline;
  text-align: right;
  width: 100px; }
.form-horizontal .form-field,
.form-horizontal .action-left {
  margin-left: 100px; }
.form-horizontal .form-field-rc {
  margin-top: 5px; }

.form-inline .form-label {
  vertical-align: middle; }
.form-inline .form-label-rc {
  float: none;
  vertical-align: middle; }
.form-inline .form-text, .form-inline .form-label-rc {
  margin-right: 5px; }

.form-simple .form-label {
  display: block; }
.form-simple .form-text, .form-simple .form-textarea, .form-simple .form-select, .form-simple .form-field-rc, .form-simple .form-captcha {
  margin-bottom: 9px; }

.form {
  /* block status tips */
  /* span inline status tips */ }
  .form .error, .form .warning, .form .success, .form .info {
    margin-bottom: 9px;
    border-radius: 0; }
  .form span.error, .form span.warning, .form span.success, .form span.info {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border-width: 1px;
    line-height: 26px;
    vertical-align: middle;
    padding: 0 5px 0 25px;
    *padding-left: 5px;
    margin: 0 0 0 5px; }
  .form .item-error .form-text,
  .form .item-error .form-select,
  .form .item-error .form-textarea {
    border-color: #fbc2c4;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    .form .item-error .form-text:focus,
    .form .item-error .form-select:focus,
    .form .item-error .form-textarea:focus {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }
  .form .item-success .form-text,
  .form .item-success .form-select,
  .form .item-success .form-textarea {
    border-color: #c6d880;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    .form .item-success .form-text:focus,
    .form .item-success .form-select:focus,
    .form .item-success .form-textarea:focus {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }
  .form .item-warning .form-text,
  .form .item-warning .form-select,
  .form .item-warning .form-textarea {
    border-color: #ffd324;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    .form .item-warning .form-text:focus,
    .form .item-warning .form-select:focus,
    .form .item-warning .form-textarea:focus {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }

/*# sourceMappingURL=form.css.map */