/* -------------------------------------------------
 * imgstyle
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgstyle\.scss}line{font-family:\0000325}}
.img-border {
  padding: 2px;
  border: 1px solid #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgstyle\.scss}line{font-family:\0000329}}
.img-rounded {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgstyle\.scss}line{font-family:\0000333}}
.img-circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
