@charset "UTF-8";
/*
 * author:为之;
 * email:xuyc_brother@foxmail.com;
 * blog:http://www.w3cpluscom;
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000322}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000330}}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000341}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000348}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000361}}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000375}}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000381}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000397}}
a:focus {
  outline: thin dotted;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003104}}
a:hover, a:active {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003112}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003119}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003124}}
blockquote {
  margin: 1em 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003131}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003137}}
mark {
  background: #ff0;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003145}}
p,
pre {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003156}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003166}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003174}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003183}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003190}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003197}}
small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003205}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003212}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003216}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003229}}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003235}}
dd {
  margin: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003244}}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003253}}
nav ul,
nav ol {
  list-style-image: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003268}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003277}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003287}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003297}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003304}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003315}}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003332}}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003345}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003355}}
button,
select {
  text-transform: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003370}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003381}}
button[disabled],
input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003391}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003403}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003414}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003422}}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003431}}
textarea {
  overflow: auto;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003442}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------
 * mixin
 * 通过@include调用，样式通过拷贝的方式使用
 * 尤其适用于传递参数  
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * placeholder selector 
 * 通过@extend调用，样式组合申明，适用于无参数
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003230}}
.fl, .fr {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003238}}
.clearfix {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000340}}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000345}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003243}}
.hidden {
  display: none !important;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003248}}
.visuallyhidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003253}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\00003258}}
ul.has-style, ul.disc, ul.circle, ul.square {
  margin-left: 25px;
  list-style: disc;
}

/* -------------------------------------------------
 * function
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * reset adjust
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\000036}}
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000313}}
body {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000323}}
body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000326}}
img {
  border: 0 none;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000330}}
textarea {
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000333}}
h1, h2, h3, h4, h5, h6, p, figure, form {
  margin: 0;
}

/* ul ol dl */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000337}}
ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000341}}
ul, ol {
  list-style: none outside none;
}

/* -------------------------------------------------
 * grid
 * thanks 
 * http://www.blankwork.net/
 * http://semantic.gs/
 * http://heygrady.com/blog/2011/02/17/using-sass-with-the-1kb-grid-system/   
 * https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_flex-grid.scss
 * -------------------------------------------------
*/
/* prepend n blank columns */
/* append n blank columns */
/* -------------------------------------------------
 * some useful class
 * -------------------------------------------------
*/
/* 浮动及清除浮动*/
/* 不同形式的隐藏 */
/* text-align:left/right/center; */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000327}}
.tal {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000330}}
.tar {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000333}}
.tac {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\000032}}
a {
  text-decoration: none;
  color: #29b4f0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\000035}}
a:hover {
  color: #0f9bd7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000310}}
h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000314}}
h1 {
  font-size: 21px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000317}}
h2 {
  font-size: 18.2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000320}}
h3 {
  font-size: 16.38px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000323}}
h4 {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000326}}
h5, h6 {
  font-size: 11.9px;
  text-transform: uppercase;
}

/* ul/ol has list style*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000334}}
ul.circle {
  list-style: circle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000337}}
ul.square {
  list-style: square;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000341}}
ul.inline-float {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000340}}
ul.inline-float:before, ul.inline-float:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000345}}
ul.inline-float:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000343}}
ul.inline-float li {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000350}}
ul.inline-block li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000357}}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  line-height: 1.3;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000361}}
.article ul, .article ol {
  margin-left: 25px;
  list-style-type: disc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000365}}
.article ol {
  list-style-type: decimal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000368}}
.article p, .article ul, .article ol, .article dl {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000371}}
.article ul ul, .article ul ol, .article ol ol, .article ol ul {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000374}}
.article dt {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000377}}
.article dd {
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000382}}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 10px;
  border-left: 3px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000386}}
blockquote small {
  font-size: 11.9px;
  display: block;
  line-height: 1.5;
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000391}}
blockquote small:before {
  content: '\2014 \00A0';
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\00003101}}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\00003106}}
address {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  line-height: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\00003114}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
