/* -------------------------------------------------
 * tabs
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003275}}
.imgtitle-list {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000341}}
.imgtitle-list:before, .imgtitle-list:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000346}}
.imgtitle-list:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003305}}
.gallery .gallery-view .alpha-bar .title, .imgtitle-list strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003337}}
.gallery .gallery-view .alpha-bar, .imgtitle-list-alpha strong {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#80000000', endColorstr='#80000000');
  background-color: rgba(0, 0, 0, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003357}}
.gallery .gallery-thumb {
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000317}}
.gallery {
  width: 486px;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000321}}
.gallery .gallery-view {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000323}}
.gallery .gallery-view img {
  width: 486px;
  height: 366px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000329}}
.gallery .gallery-view .alpha-bar {
  width: 100%;
  position: relative;
  height: 36px;
  line-height: 36px;
  margin-top: -36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000336}}
.gallery .gallery-view .alpha-bar .title {
  float: left;
  display: inline;
  width: 366px;
  margin-left: 10px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000343}}
.gallery .gallery-view .alpha-bar .num-calc {
  float: right;
  display: inline;
  width: 80px;
  text-align: right;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000351}}
.gallery .gallery-thumb {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000354}}
.gallery .gallery-thumb .gallery-thumb-view {
  margin: 0 20px;
  width: 446px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000359}}
.gallery .gallery-thumb ul {
  width: 912px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000362}}
.gallery .gallery-thumb li {
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000364}}
.gallery .gallery-thumb li img {
  border: 1px solid #cccccc;
  padding: 1px;
  width: 100px;
  height: 75px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000370}}
.gallery .gallery-thumb li img:hover {
  border-color: #0078e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000378}}
.gallery .gallery-thumb .thumb-prev-btn,
.gallery .gallery-thumb .thumb-next-btn {
  position: absolute;
  text-align: center;
  height: 79px;
  line-height: 79px;
  top: 0;
  font-family: "SimSun";
  width: 10px;
  font-weight: bold;
  color: #333333;
  background-color: #e8e8e8;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000391}}
.gallery .gallery-thumb .thumb-prev-btn:hover,
.gallery .gallery-thumb .thumb-next-btn:hover {
  color: white;
  background-color: #0078e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000396}}
.gallery .gallery-thumb .thumb-prev-btn {
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_gallery\.scss}line{font-family:\0000399}}
.gallery .gallery-thumb .thumb-next-btn {
  right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000337}}
.imgtitle-list {
  margin-right: -20px;
  *padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000323}}
.imgtitle-list li, .imgtitle-list strong {
  width: 171px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000326}}
.imgtitle-list li {
  margin: 0 20px 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000329}}
.imgtitle-list img {
  width: 171px;
  height: 126px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000340}}
.imgtitle-list li {
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000343}}
.imgtitle-list strong {
  font-weight: normal;
  text-align: center;
  display: block;
  line-height: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000357}}
.imgtitle-list-alpha li {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000360}}
.imgtitle-list-alpha strong {
  top: 96px;
  width: 161px;
  position: absolute;
  left: 0;
  color: #fff;
  padding: 0 5px;
}
