@charset "utf-8";
/* -------------------------------------------------
 * btn scss
 * -------------------------------------------------
*/

//variables
//----------------------------------
//默认背景为纯色，如果启用渐变背景，则背景色渐变且加上边框及内阴影
$gradientBtn: true !default;


//btn placeholder selectors and mixin
//----------------------------------

//btn common style
//按钮基本样式，联合申明
%btn-common-style{
  @include inline-block;
  cursor: pointer;
  text-align:center;
  color:#333;
}

//btn-gradient
//半透明到全透明的白色渐变，通过设置不同的背景色来表示不同的渐变
%btn-gradient {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iNDYlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 46%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(46%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 46%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 46%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 46%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 46%); /* W3C */
  @if $filter{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
    :root &{
       filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }
  }
}

//btn
//普通按钮，通过设置line-height来反应其高度
@mixin btn($padding:16px, $lineHeight:30px, $fontSize:$baseFontSize, $radius:$baseRadius){
  @extend %btn-common-style;
    padding:0 $padding;
  font-size:$fontSize;
  line-height:$lineHeight;
  
  @include border-radius($radius);
}

//form btn (button/input)
//form元素按钮（如button,input:submit），设置height来反应其高度
@mixin formbtn($padding:16px, $height:30px, $fontSize:$baseFontSize, $radius:$baseRadius){
  @extend %btn-common-style;
    padding:0 $padding;
  font-size:$fontSize;
  height: $height;
  @include border-radius($radius);

  @if $lte7 {
    *overflow:visible;
  }
}

//btn-color
//包括按钮背景图，边框
@mixin btn-color($color:#e6e6e6){
  background-color: $color;
  @if $gradientBtn {
    border:1px solid darken($color, 5%);
    border-color:lighten($color, 2%) darken($color, 5%) darken($color, 5%) lighten($color, 2%);
  }@else{
    border:0 none;
  }

  &:hover{
    background-color: darken($color,5%);
  }
}


//两种类别元素，不同大小的btn class
//----------------------------------
.btn{
  @include btn;
  @include btn-color;
}
.btn-large{
  @include btn(40px,40px,18px,6px);
}
.btn-small{
  @include btn(5px,20px,12px,3px);
}

.formbtn{
  @include formbtn;
  @include btn-color;
}
.formbtn-large{
  @include formbtn(40px,40px,18px,6px);
}
.formbtn-small{
  @include formbtn(5px,20px,12px,3px);
}

//如果启用渐变背景，引入%btn-gradient；
@if $gradientBtn {
  .btn, .btn-large, .btn-small, .formbtn, .formbtn-large, .formbtn-small{
    @extend %btn-gradient;
  }
}


//不同颜色的btn class
//----------------------------------
 .btn-primary, .btn-red, .btn-green, .btn-orange, .btn-blue, .btn-gray-dark{
  color: #fff;
}
.btn-primary{
  @include btn-color($blueDark);
}
.btn-red{
  @include btn-color($red);
}
.btn-green{
  @include btn-color($green);
}
.btn-orange{
  @include btn-color($orange);
}
.btn-gray{
  @include btn-color;
}
.btn-gray-light{
  @include btn-color($grayLight);
}
.btn-gray-dark{
  @include btn-color($grayDark);
}
.btn-blue{
  @include btn-color($blue);
}