@charset "utf-8";
/* -------------------------------------------------
 * imgtextV scss
 * -------------------------------------------------
*/

//变量
//---------------------------------
$imgtextVDefaultGutter:     20px !default;
$imgtextVDefaultImg:        220px 130px !default;//图片的宽高
$imgtextVItemWidth:         220px !default;//没有边框的情况下，宽度等于图片的宽度


//默认样式
//---------------------------------
.imgtext-v-list{
	@extend %clearfix;
	margin-right:-$imgtextVDefaultGutter;

	@if $lte7{
		*padding-bottom: $imgtextVDefaultGutter;
	}

	li{
		@include float;
		width: $imgtextVItemWidth;
		margin:0 $imgtextVDefaultGutter $imgtextVDefaultGutter 0;
	}
	.img-link{
		display: block;
	}
	img{
		width:nth($imgtextVDefaultImg,1);
		height:nth($imgtextVDefaultImg,2);
	}
	h3{
		@extend %ellipsis;
		font-weight:normal;
		line-height:30px;
	}
}