@charset "utf-8";
/* -------------------------------------------------
 * imgslide scss
 * -------------------------------------------------
*/

//变量
//---------------------------------
$imgslideView:       550px 300px;//滚动图片的视窗大小
$imgslideItemNum:    4 !default;//多少个滚动项，默认为4个
$imgslideTitle:      true !default;//是否显示标题
$imgslidePrevNext:   true !default;//是否输出左右控制箭头


//样式
//---------------------------------
.imgslide{
	position:relative;
	width: nth($imgslideView,1); 
	.slide-view{
		width:nth($imgslideView,1); 
		height:nth($imgslideView,2); 
		overflow:hidden;

		ul{
			width:nth($imgslideView,1) * 4;
		}
	}
	.slide-bullet{
		position:absolute;
		right:10px;
		bottom:10px;

		a{
			@include float;
			font-family: Tahoma;
			font-size: 24px;
			line-height: 1;
			cursor:pointer;
			margin-right:5px;
			color: $grayLight;

			&.active,
			&:hover{
				color:$blue;
			}
		}
	}

	@if $imgslideTitle{
		.slide-control{
			position:absolute;
			left:0;
			bottom:0;
			height:36px;
			width:nth($imgslideView,1);
			line-height:36px;
			@extend %bgColorAlpha;
		}
		.slide-title{
			@extend %ellipsis;
			width:nth($imgslideView,1) - ($imgslideItemNum * 30); 
			color:#fff;
			padding-left:10px;
			@include inline-block;
		}
	}

	@if $imgslidePrevNext{
		.prev-btn,.next-btn{
			position:absolute;
			top:((nth($imgslideView,2) - 36px) / 2) - 18px;
			width:32px;
			height:36px; 
			cursor:pointer;
			background:url('images/arrow.png') no-repeat;
		}
		.prev-btn{
			left:0;
		}
		.next-btn{
			right:0;
			background-position:0 -36px;
		}
	}
}