@charset "UTF-8";
/* -------------------------------------------------
 * pagerNav scss
 * -------------------------------------------------
*/

//变量
//---------------------------------
$pagerNavTextColor:           $primary $white !default;//文本色：默认色，激活色
$pagerNavBorderColor:         $gray $primary !default;//边框色:默认色，激活色
$pagerNavActiveBgColor:       $primary !default;//激活背景色

//默认居中
.pager-nav{
  font-family: $fontCn;
  margin:20px 0 0;
  text-align: center;

  ul{
    @include inline-block;
  }
  li{
    margin:0 5px;
    @include float;
  }
  .active span,
  .disabled span,
  a{
    @include float;
    padding:0 7px;
    line-height:20px;
    height:20px;
    text-decoration:none;
    border:1px solid nth($pagerNavBorderColor,1);
  }
  a{
    color: nth($pagerNavTextColor,1);
    &:hover{
      border-color:nth($pagerNavBorderColor,2);
      text-decoration:none;
    }
  }
  .active span{
      background-color: $pagerNavActiveBgColor;
      color: nth($pagerNavTextColor,2);
  }
  .disabled span{
      @include disabled;
  }
}

//向左，向右对齐
.pager-nav-left{
  text-align: left;
}
.pager-nav-right{
  text-align: right;
}