/* -------------------------------------------------
 * some useful class
 * -------------------------------------------------
*/

.fl{
  @extend %fl;
}
.fr{
  @extend %fr;
}
.clearfix{
  @extend %clearfix;
}
.hidden{
  @extend %hidden;
}
.visuallyhidden {
  @extend %visuallyhidden;
}
.invisible {
  @extend %invisible;
}

.m5{margin: 5px;}
.mt5{margin-top: 5px;}
.mr5{margin-right: 5px;}
.mb5{margin-bottom: 5px;}
.ml5{margin-left: 5px;}
.m10{margin: 10px;}
.mt10{margin-top: 10px;}
.mr10{margin-right: 10px;}
.mb10{margin-bottom: 10px;}
.ml10{margin-left: 10px;}
.m15{margin: 5px;}
.mt15{margin-top: 15px;}
.mr15{margin-right: 15px;}
.mb15{margin-bottom: 15px;}
.ml15{margin-left: 15px;}
.m20{margin: 20px;}
.mt20{margin-top: 20px;}
.mr20{margin-right: 20px;}
.mb20{margin-bottom: 20px;}
.ml20{margin-left: 20px;}

.p5{padding: 5px;}
.pt5{padding-top: 5px;}
.pr5{padding-right: 5px;}
.pb5{padding-bottom: 5px;}
.pl5{padding-left: 5px;}
.p10{padding: 10px;}
.pt10{padding-top: 10px;}
.pr10{padding-right: 10px;}
.pb10{padding-bottom: 10px;}
.pl10{padding-left: 10px;}
.p15{padding: 5px;}
.pt15{padding-top: 15px;}
.pr15{padding-right: 15px;}
.pb15{padding-bottom: 15px;}
.pl15{padding-left: 15px;}
.p20{padding: 20px;}
.pt20{padding-top: 20px;}
.pr20{padding-right: 20px;}
.pb20{padding-bottom: 20px;}
.pl20{padding-left: 20px;}