@charset "UTF-8";
/* -------------------------------------------------
 * some useful class
 * -------------------------------------------------
*/
/* 浮动及清除浮动*/
.fl{
  @extend %float-left;
}
.fr{
  @extend %float-left;
}
.clearfix{
  @extend %clearfix;
}
/* 不同形式的隐藏 */
.hidden{
  @extend %hidden;
}
.visuallyhidden {
  @extend %visuallyhidden;
}
.invisible {
  @extend %invisible;
}
/* text-align:left/right/center; */
.tal{
	text-align: left;
}
.tar{
	text-align: right;
}
.tac{
	text-align: center;
}