/* -------------------------------------------------
 * reset adjust
 * -------------------------------------------------
*/  
html { 
  overflow-y: scroll; 
  -webkit-overflow-scrolling: touch; 
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%; 
}
body { 
  font-size: $baseFontSize;
  line-height: $baseLineHeight; 
  color:$baseColor;
  background-color:$white;
}
body, 
button, 
input, 
select, 
textarea{
  font-family: $baseFontFamily;
}
img {
  border:0 none;
  vertical-align: middle;
}
textarea {
  resize: vertical;
}
h1,h2,h3,h4,h5,h6,p,figure,form {
  margin:0;
}
/* ul ol dl */
ul,li,ol,dl,dd{
  margin: 0;
  padding:0;
  list-style: none outside none;
}