@charset "UTF-8";

// Set to true if you want to add support for IE6 and IE7
// Notice: setting to true might render some elements
// slightly differently than when set to false
$lte7: true !default; 

//font相关
$baseFontSize:14px;
$baseLineHeight:1.5;
$baseFontFamily:"Helvetica Neue", Helvetica, arial, sans-serif;

//basic color
$baseColor:#333;
$white:#fff;
$gray:#ccc;
$graydarken:#999;
$linkColor:#29B4F0;
$blue:#00A3CF;
$orange:#F47837;
$green:#51B148;

//color function : http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
//     lighten($color, $amount)
//     darken($color, $amount)
//     opacify($color, $amount)
//     mix($color1, $color2[, $amount])