@charset "UTF-8";

// Set to true if you want to add support for IE6 and IE7
// Notice: setting to true might render some elements
// slightly differently than when set to false
$legacy_support_for_ie: true !default; // Used also in Compass


//font相关
$baseFontSize:14px;
$baseLineHeight:1.5;
$baseFontFamily:"Helvetica Neue", Helvetica, arial, sans-serif;

//basic color
$baseColor:#333;
$white:#fff;
$gray:#ccc;
$graydarken:#999;
$blue:#00A3CF;
$orange:#F47837;
$green:#51B148;
$linkColor:#29B4F0 #017CB9;

//color function
//     red($color)
//     green($color)
//     blue($color)
//     hue($color)
//     saturation($color)
//     lightness($color)
//     alpha($color)y
// Mutators:
//     lighten($color, $amount)
//     darken($color, $amount)
//     saturate($color, $amount)
//     desaturate($color, $amount)
//     adjust-hue($color, $amount)
//     opacify($color, $amount)
//     transparentize($color, $amount)
//     mix($color1, $color2[, $amount])
//     grayscale($color)
//     compliment($color)
//more:http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html

$baseRadius:5px;