@import "_normalize.scss";
@import "_reset.scss";
/* color
 * font:#333
 * link:#29B4F0 #017CB9(滑过颜色)
 * grey:#ccc
 * other:#00A3CF(blue),#F47837(orange),#51B148(green),;
 */
$baseColor:#333 #ccc ;
$linkColor:#29B4F0 #017CB9;
a{
  color: nth($linkColor,1);
}