/* -------------------------------------------------
 * pager nav scss
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000318}}
.pager-nav {
  margin: 0 0 21px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000323}}
.pager-nav ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000326}}
.pager-nav li {
  margin: 0 5px;
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000332}}
.pager-nav .active span,
.pager-nav .disabled span,
.pager-nav a {
  float: left;
  display: inline;
  padding: 0 8px;
  line-height: 24px;
  height: 24px;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000339}}
.pager-nav a {
  color: #333333;
  background-color: #dedede;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000342}}
.pager-nav a:hover {
  text-decoration: none;
  color: white;
  background-color: #0078e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000348}}
.pager-nav .active span {
  background-color: #0078e7;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000352}}
.pager-nav .disabled span {
  background-color: #e6e6e6 !important;
  color: #ababab !important;
  cursor: not-allowed !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000358}}
.pager-nav-left {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000361}}
.pager-nav-right {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000369}}
.pager-nav-brief {
  text-align: right;
  height: 30px;
  line-height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000374}}
.pager-nav-brief a {
  text-align: center;
  padding: 0 10px;
  color: white;
  background-color: #0078e7;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000381}}
.pager-nav-brief a:hover {
  background-color: #006bce;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_pagerNav\.scss}line{font-family:\0000385}}
.pager-nav-brief .pager-prev {
  float: left;
  display: inline;
}
