/* -------------------------------------------------
 * pager nav scss
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * base scss
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * setting scss
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * css3 scss
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * mixin scss
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * grid scss
 * -------------------------------------------------
*/
/* -------------------------------------------------
 * pagerNav scss
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/sass\/components\/_pagerNav\.scss}line{font-family:\0000314}}
.pager-nav {
  font-family: "SimSun";
  margin: 20px 0 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/sass\/components\/_pagerNav\.scss}line{font-family:\0000319}}
.pager-nav ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/sass\/components\/_pagerNav\.scss}line{font-family:\0000322}}
.pager-nav li {
  margin: 0 5px;
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/sass\/components\/_pagerNav\.scss}line{font-family:\0000328}}
.pager-nav .active span,
.pager-nav .disabled span,
.pager-nav a {
  float: left;
  display: inline;
  padding: 0 7px;
  line-height: 20px;
  height: 20px;
  text-decoration: none;
  border: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/sass\/components\/_pagerNav\.scss}line{font-family:\0000336}}
.pager-nav a {
  color: #2965b1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/sass\/components\/_pagerNav\.scss}line{font-family:\0000338}}
.pager-nav a:hover {
  border-color: #2965b1;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/sass\/components\/_pagerNav\.scss}line{font-family:\0000343}}
.pager-nav .active span {
  background-color: #2965b1;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/sass\/components\/_pagerNav\.scss}line{font-family:\0000347}}
.pager-nav .disabled span {
  background-color: #e6e6e6;
  color: #ababab;
  cursor: not-allowed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/sass\/components\/_pagerNav\.scss}line{font-family:\0000353}}
.pager-nav-left {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/sass\/components\/_pagerNav\.scss}line{font-family:\0000356}}
.pager-nav-right {
  text-align: right;
}
