@charset "utf-8";
/* -------------------------------------------------
 * tooltip
 * -------------------------------------------------
*/
@import 'D:/sassCore/function';
@import 'D:/tobe/components/tooltip';

.tooltip-box{
	position: relative;
	margin-bottom: 20px;
	width: 300px;
}