@charset "UTF-8";
/* -------------------------------------------------
 * imgtextH
 * 水平图文混排
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003275}}
.imgtext-h {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000341}}
.imgtext-h:before, .imgtext-h:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000346}}
.imgtext-h:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003305}}
.imgtext-h-block .text-right h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003347}}
.imgtext-h-list li {
  border-bottom: 1px dashed #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003357}}
.imgtext-h .text-right,
.imgtext-h-list .text-right,
.imgtext-h-block .text-right {
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000331}}
.imgtext-h .img-left,
.imgtext-h-list .img-left,
.imgtext-h-block .img-left {
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000335}}
.imgtext-h .text-right,
.imgtext-h-list .text-right,
.imgtext-h-block .text-right {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000338}}
.imgtext-h .text-right h3,
.imgtext-h-list .text-right h3,
.imgtext-h-block .text-right h3 {
  line-height: 1.3;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000316}}
.imgtext-h .img-left {
  margin-right: 10px;
  _margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000321}}
.imgtext-h .img-left img {
  width: 250px;
  height: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000358}}
.imgtext-h .text-right h3 {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000316}}
.imgtext-h-list .img-left {
  margin-right: 10px;
  _margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000321}}
.imgtext-h-list .img-left img {
  width: 250px;
  height: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000368}}
.imgtext-h-list li {
  min-height: 160px;
  height: auto !important;
  _height: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000373}}
.imgtext-h-list .text-right h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000382}}
.imgtext-h-block {
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000384}}
.imgtext-h-block li {
  min-height: 50px;
  height: auto !important;
  _height: 50px;
  padding: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000316}}
.imgtext-h-block .img-left {
  margin-right: 5px;
  _margin-right: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000321}}
.imgtext-h-block .img-left img {
  width: 50px;
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextH\.scss}line{font-family:\0000390}}
.imgtext-h-block .text-right h3 {
  font-size: 12px;
  font-weight: normal;
}
