/* -------------------------------------------------
 * alert
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003257}}
.alert-box .error, .alert-box .warning, .alert-box .success, .alert-box .info {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_alert\.scss}line{font-family:\000039}}
.alert-box {
  position: absolute;
  z-index: 1030;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobePHP\/example\/alert\/alert\.scss}line{font-family:\000039}}
.alert-box {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobePHP\/example\/alert\/alert\.scss}line{font-family:\0000314}}
.alert-box {
  position: relative;
}
