@charset "GBK";
@import url(../demo.css);
/*
 * author:为之;
 * email:xuyc_brother@foxmail.com;
 * blog:http://www.w3cpluscom;
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000352}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000360}}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000371}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000378}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\0000391}}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003105}}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003111}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003127}}
a:focus {
  outline: thin dotted;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003134}}
a:hover, a:active {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003147}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003152}}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003157}}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003162}}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003167}}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003172}}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003180}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003187}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003192}}
blockquote {
  margin: 1em 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003199}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003205}}
mark {
  background: #ff0;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003213}}
p,
pre {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003224}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003234}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003242}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003251}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003258}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003265}}
small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003273}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003280}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003284}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003297}}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003303}}
dd {
  margin: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003312}}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003321}}
nav ul,
nav ol {
  list-style-image: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003336}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003345}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003355}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003365}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003372}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003383}}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003400}}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003413}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003423}}
button,
select {
  text-transform: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003438}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003449}}
button[disabled],
input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003459}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003471}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003482}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003490}}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003499}}
textarea {
  overflow: auto;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_normalize\.scss}line{font-family:\00003510}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------
 * mixin  &  placeholder selector
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000344}}
.clearfix {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000348}}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000354}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000360}}
.hidden {
  display: none !important;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000366}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000378}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000383}}
ul.has-style, ul.disc, ul.circle, ul.square {
  margin-left: 25px;
  list-style: disc;
}

/* -------------------------------------------------
 * reset adjust
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\000036}}
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000313}}
body {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000323}}
body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000326}}
img {
  border: 0 none;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000330}}
textarea {
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000333}}
h1, h2, h3, h4, h5, h6, p, figure, form {
  margin: 0;
}

/* ul ol dl */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000337}}
ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_reset\.scss}line{font-family:\0000341}}
ul, ol {
  list-style: none outside none;
}

/* -------------------------------------------------
 * grid
 * thanks 
 * http://www.blankwork.net/
 * http://semantic.gs/
 * http://heygrady.com/blog/2011/02/17/using-sass-with-the-1kb-grid-system/   
 * https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_flex-grid.scss
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span1 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span2 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span3 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span4 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span5 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span6 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span7 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 540px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span8 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span9 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span10 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 780px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span11 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 860px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_grid\.scss}line{font-family:\00003182}}
.span12 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}

/* prepend n blank columns */
/* append n blank columns */
/* -------------------------------------------------
 * some useful class
 * -------------------------------------------------
*/
/* 浮动及清除浮动*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\000037}}
.fl {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000311}}
.fr {
  float: right;
  display: inline;
}

/* 不同形式的隐藏 */
/* text-align:left/right/center; */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000329}}
.tal {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000332}}
.tar {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000335}}
.tac {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000340}}
.m5 {
  margin: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000341}}
.mt5 {
  margin-top: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000342}}
.mr5 {
  margin-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000343}}
.mb5 {
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000344}}
.ml5 {
  margin-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000345}}
.m10 {
  margin: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000346}}
.mt10 {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000347}}
.mr10 {
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000348}}
.mb10 {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000349}}
.ml10 {
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000350}}
.m15 {
  margin: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000351}}
.mt15 {
  margin-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000352}}
.mr15 {
  margin-right: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000353}}
.mb15 {
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000354}}
.ml15 {
  margin-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000355}}
.m20 {
  margin: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000356}}
.mt20 {
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000357}}
.mr20 {
  margin-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000358}}
.mb20 {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000359}}
.ml20 {
  margin-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000361}}
.p5 {
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000362}}
.pt5 {
  padding-top: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000363}}
.pr5 {
  padding-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000364}}
.pb5 {
  padding-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000365}}
.pl5 {
  padding-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000366}}
.p10 {
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000367}}
.pt10 {
  padding-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000368}}
.pr10 {
  padding-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000369}}
.pb10 {
  padding-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000370}}
.pl10 {
  padding-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000371}}
.p15 {
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000372}}
.pt15 {
  padding-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000373}}
.pr15 {
  padding-right: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000374}}
.pb15 {
  padding-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000375}}
.pl15 {
  padding-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000376}}
.p20 {
  padding: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000377}}
.pt20 {
  padding-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000378}}
.pr20 {
  padding-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000379}}
.pb20 {
  padding-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_helpers\.scss}line{font-family:\0000380}}
.pl20 {
  padding-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\000032}}
a {
  text-decoration: none;
  color: #29b4f0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\000035}}
a:focus {
  outline: thin dotted;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\000038}}
a:hover {
  color: #017cb9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000313}}
h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000317}}
h1 {
  font-size: 21px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000320}}
h2 {
  font-size: 18.2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000323}}
h3 {
  font-size: 16.38px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000326}}
h4 {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000329}}
h5, h6 {
  font-size: 11.9px;
  text-transform: uppercase;
}

/* ul/ol has list style*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000337}}
ul.circle {
  list-style: circle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000340}}
ul.square {
  list-style: square;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000344}}
ul.inline-float {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000334}}
ul.inline-float:before, ul.inline-float:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_mixin\.scss}line{font-family:\0000340}}
ul.inline-float:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000346}}
ul.inline-float li {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000353}}
ul.inline-block li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000360}}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  line-height: 1.3;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000364}}
.article ul, .article ol {
  margin-left: 25px;
  list-style-type: disc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000368}}
.article ol {
  list-style-type: decimal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000371}}
.article p, .article ul, .article ol, .article dl {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000374}}
.article ul ul, .article ul ol, .article ol ol, .article ol ul {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000377}}
.article dt {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000380}}
.article dd {
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000385}}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 10px;
  border-left: 3px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000389}}
blockquote small {
  font-size: 11.9px;
  display: block;
  line-height: 1.5;
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\0000394}}
blockquote small:before {
  content: '\2014 \00A0';
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\00003104}}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/static\/sass\/_typography\.scss}line{font-family:\00003109}}
address {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  line-height: 1.5;
}

/* 浮动 及 清除 */
/*----------------------------------------------------*\
 * Grid
\*----------------------------------------------------*/
/*----------------------------------------------------*\
 * LAYOUT
\*----------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/layout\/maxWidth\/maxWidth\.scss}line{font-family:\0000323}}
.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/layout\/maxWidth\/maxWidth\.scss}line{font-family:\0000328}}
.container .column {
  float: left;
  display: inline;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  width: 97.91667%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/layout\/maxWidth\/maxWidth\.scss}line{font-family:\0000333}}
#header .column {
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/layout\/maxWidth\/maxWidth\.scss}line{font-family:\0000338}}
#maincolumn {
  float: left;
  display: inline;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  width: 72.91667%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/tobe\/example\/layout\/maxWidth\/maxWidth\.scss}line{font-family:\0000341}}
#sidebar {
  float: left;
  display: inline;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  width: 22.91667%;
}
