/* -------------------------------------------------
 * hdtitle scss
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003275}}
.hd-title,
.block-hd {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000341}}
.hd-title:before,
.block-hd:before, .hd-title:after,
.block-hd:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000346}}
.hd-title:after,
.block-hd:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_hdtitle\.scss}line{font-family:\0000315}}
.hd-title,
.block-hd {
  text-align: right;
  line-height: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_hdtitle\.scss}line{font-family:\0000320}}
.hd-title h2,
.block-hd h2, .hd-title h3,
.block-hd h3 {
  float: left;
  display: inline;
  line-height: 36px;
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_hdtitle\.scss}line{font-family:\0000325}}
.hd-title .more,
.block-hd .more {
  font-family: "SimSun";
  margin-right: 10px;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_hdtitle\.scss}line{font-family:\0000335}}
.hd-title,
.block-hd {
  background-color: #ebebeb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_hdtitle\.scss}line{font-family:\0000343}}
.aside-block .block-hd, .aside-block .block-hd h3 {
  line-height: 30px;
}
