@charset "utf-8";
/* -------------------------------------------------
 * table scss
 * -------------------------------------------------
*/
$tableListSwitch:                true;
$tableColThSwitch:               true;
$tableRadiusSwitch:              true;
$tableLineSwitch:                true;
$tableStripedSwitch:             true;
$tableHoverSwitch:               true;
$tableCondensedSwitch:           true;
$tableStatusSwitch:              true;

@import 'D:/sassCore/function';
@import 'D:/sassCore/ext/table';
