/* -------------------------------------------------
 * tabs
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003275}}
.tabs-primary, .tabs-color, .tabs-border {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000341}}
  .tabs-primary:before, .tabs-color:before, .tabs-border:before, .tabs-primary:after, .tabs-color:after, .tabs-border:after {
    content: "";
    display: table;
    font: 0/0 a; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000346}}
  .tabs-primary:after, .tabs-color:after, .tabs-border:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\0000328}}
.tabs-primary {
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
  line-height: 34px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\0000334}}
  .tabs-primary a {
    float: left;
    display: inline;
    padding: 0 15px;
    border: 1px solid #cccccc;
    margin-bottom: -1px;
    margin-left: 10px;
    color: #333333;
    background-color: white;
    *position: relative;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\0000351}}
    .tabs-primary a.active {
      border-bottom-color: white;
      background-color: white;
      color: #0078e7; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\0000356}}
    .tabs-primary a:hover {
      color: #0078e7; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\0000379}}
.tabs-color {
  border-top: 2px solid #0078e7;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  background-color: whitesmoke;
  font-size: 14px;
  line-height: 36px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\0000388}}
  .tabs-color a {
    float: left;
    display: inline;
    margin-right: 1px;
    padding: 0 20px;
    color: #333333;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\0000397}}
    .tabs-color a.active, .tabs-color a:hover {
      background-color: #0078e7;
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\00003103}}
  .tabs-color {
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\00003106}}
  .tabs-color a:first-child {
    -webkit-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\00003126}}
.tabs-border {
  border: 1px solid #cccccc;
  background-color: whitesmoke;
  font-size: 14px;
  line-height: 34px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\00003133}}
  .tabs-border a {
    float: left;
    display: inline;
    border: 1px solid #cccccc;
    border-left: none;
    margin: -1px 0;
    padding: 0 20px;
    color: #333333;
    text-align: center;
    *position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\00003146}}
    .tabs-border a.active {
      background-color: white;
      border-bottom-color: white;
      border-top-color: #0078e7;
      color: #0078e7; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\00003153}}
    .tabs-border a:hover {
      color: #0078e7; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\00003159}}
  .tabs-border {
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\00003162}}
  .tabs-border a:first-child {
    -webkit-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_tabs\.scss}line{font-family:\00003172}}
.tabs-content-wrap {
  border: 1px solid #cccccc;
  border-top: none;
  padding: 10px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }
