/* -------------------------------------------------
 * imgtitle
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003275}}
.imgtitle-list {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000341}}
.imgtitle-list:before, .imgtitle-list:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000346}}
.imgtitle-list:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003305}}
.imgtitle-list strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003337}}
.imgtitle-list-alpha strong {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#80000000', endColorstr='#80000000');
  background-color: rgba(0, 0, 0, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000337}}
.imgtitle-list {
  margin-right: -20px;
  *padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000323}}
.imgtitle-list li, .imgtitle-list strong {
  width: 171px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000326}}
.imgtitle-list li {
  margin: 0 20px 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000329}}
.imgtitle-list img {
  width: 171px;
  height: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000340}}
.imgtitle-list li {
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000343}}
.imgtitle-list strong {
  font-weight: normal;
  text-align: center;
  display: block;
  line-height: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000357}}
.imgtitle-list-alpha li {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtitle\.scss}line{font-family:\0000360}}
.imgtitle-list-alpha strong {
  top: 120px;
  width: 161px;
  position: absolute;
  left: 0;
  color: #fff;
  padding: 0 5px;
}
