/* -------------------------------------------------
 * avatar
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003275}}
.avatar-list {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000341}}
.avatar-list:before, .avatar-list:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000346}}
.avatar-list:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003305}}
.avatar-list strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_avatar\.scss}line{font-family:\0000339}}
.avatar-list {
  margin-right: -10px;
  *padding-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_avatar\.scss}line{font-family:\0000322}}
.avatar-list li, .avatar-list strong {
  width: 56px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_avatar\.scss}line{font-family:\0000325}}
.avatar-list li {
  margin: 0 10px 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_avatar\.scss}line{font-family:\0000328}}
.avatar-list img {
  width: 50px;
  height: 50px;
  padding: 2px;
  border: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_avatar\.scss}line{font-family:\0000342}}
.avatar-list li {
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_avatar\.scss}line{font-family:\0000345}}
.avatar-list strong {
  font-weight: normal;
  text-align: center;
  display: block;
  line-height: 30px;
}
