<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<title>template3</title>
<link rel="stylesheet" type="text/css" href="css/templates3.css">
</head>
<body>
<div class="page layout-mr">
    <div class="wrap-header">
        <div id="header">
            <div class="inner-header">
              <a id="logo" href="#"><img src="http://placehold.it/200x100&text=logo" alt=""></a>
              <strong class="visually-hidden">网站名称</strong>
              <div class="search-block">
                  <form action="#" class="form-search-block">
                      <input type="search" class="search-text">
                      <input type="submit" value="搜索" class="search-submit">
                  </form>
              </div>
              <div id="nav">
                <ul class="inline-float">
                    <li class="active"><a href="">首页</a></li>
                    <li><a href="">sassCore</a></li>
                    <li><a href="">布局模板</a></li>
                    <li><a href="">基础样式</a></li>
                    <li><a href="">常用结构</a></li>
                    <li><a href="">js交互</a></li>
                    <li><a href="">关于/联系</a></li>
                </ul>
            </div>
          </div>
        </div>
    </div><!--wrap-header-->
    <div class="wrap-container">
        <div id="container" class="clearfix">           
            <div id="main">
              <div class="inner-main">
                <div id="breadcrumb">
                  <a href="/">首页</a>
                  <span class="divider">&gt;</span>
                  <a href="/">列表页</a>
                  <span class="divider">&gt;</span>
                  <span class="current">详细页</span>
                </div>
                <div id="detail_page" class="article">
                  <h1>劝学</h1>
                  <h2>君子曰：学不可以已。</h2>
                  <p>青，取之于蓝，而青于蓝；冰，水为之，而寒于水。木直中绳，輮以为轮，其曲中规。虽有槁暴（pù），不复挺者，輮使之然也。故木受绳则直，金就砺则利，君子博学而日参省乎己，则知明而行无过矣。</p>
                  <p>故不登高山，不知天之高也；不临深溪，不知地之厚也；不闻先王之遗言，不知学问之大也。干、越、夷、貉之子，生而同声，长而异俗，教使之然也。诗曰：“嗟尔君子，无恒安息。靖共尔位，好是正直。神之听之，介尔景福。”神莫大于化道，福莫长于无祸。</p>
                  <h2>君子生非异也，善假于物也</h2>
                  <p>吾尝终日而思矣，不如须臾之所学也；吾尝跂而望矣，不如登高之博见也。登高而招，臂非加长也，而见者远；顺风而呼，声非加疾也，而闻者彰。假舆马者，非利足也，而致千里；假舟楫者，非能水也，而绝江河。</p>
                  <p>南方有鸟焉，名曰蒙鸠，以羽为巢，而编之以发，系之苇苕，风至苕折，卵破子死。巢非不完也，所系者然也。西方有木焉，名曰射干，茎长四寸，生于高山之上，而临百仞之渊，木茎非能长也，所立者然也。蓬生麻中，不扶而直；白沙在涅，与之俱黑。兰槐之根是为芷，其渐之滫，君子不近，庶人不服。其质非不美也，所渐者然也。</p>
                </div>
              </div>
            </div><!--main-->
            <div id="aside_second" class="aside">
                <div class="inner-aside">
                  <div id="news_block" class="aside-block">
                    <div class="block-hd">
                      <h3>最新文章</h3>
                      <a href="#" class="more">更多>></a>
                    </div>
                    <div class="block-bd">
                      <ul class="title-list">
                        <li><a class="title-link" href="#" title="故不登高山，不知天之高也；不临深溪，不知地之厚也；不闻先王之遗言，不知学问之大也">故不登高山，不知天之高也；不临深溪，不知地之厚也；不闻先王之遗言，不知学问之大也</a></li>
                        <li><a class="title-link" href="#" title="吾尝终日而思矣，不如须臾之所学也">吾尝终日而思矣，不如须臾之所学也</a></li>
                        <li><a class="title-link" href="#" title="吾尝终日而思矣，不如须臾之所学也">吾尝终日而思矣，不如须臾之所学也</a></li>
                        <li><a class="title-link" href="#" title="吾尝终日而思矣，不如须臾之所学也">吾尝终日而思矣，不如须臾之所学也</a></li>
                        <li><a class="title-link" href="#" title="故不登高山，不知天之高也；不临深溪，不知地之厚也；不闻先王之遗言，不知学问之大也。">故不登高山，不知天之高也；不临深溪，不知地之厚也；不闻先王之遗言，不知学问之大也。</a></li>
                        <li><a class="title-link" href="#" title="吾尝终日而思矣，不如须臾之所学也">吾尝终日而思矣，不如须臾之所学也</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div> 
        </div>
    </div><!--wrap-container-->
    <div class="wrap-footer">
        <div id="footer"><div class="inner-footer">
            <p>版权所有：<a href="http://w3cplus.com" target="_blank">w3cplus</a>，作者：<a href="http://weibo.com/2150465537" target="_blank">结一</a></p>
            <p>感谢<a href="http://weibo.com/311290005" target="_blank">大漠</a>，星河棋士及<a href="www.weibo.com/lcllao" target="_blank">Lcllao</a>的支持与帮助。</p>              
        </div></div>
    </div><!--wrap-footer-->
</div>     
</body>
</html>