<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<title>template4</title>
<link rel="stylesheet" type="text/css" href="css/templates4.css">
</head>
<body>
<div class="page">
    <div class="wrap-top-bar">
      <div id="top_nav">
          <ul class="inline-float">
              <li class="active"><a href="">首页</a></li>
              <li><a href="">sassCore</a></li>
              <li><a href="">布局模板</a></li>
              <li><a href="">基础样式</a></li>
              <li><a href="">常用结构</a></li>
              <li><a href="">js交互</a></li>
              <li><a href="">关于/联系</a></li>
          </ul>
          <div class="search-block">
              <form action="#" class="form-search-block">
                  <input type="search" class="search-text">
                  <input type="submit" value="搜索" class="search-submit">
              </form>
          </div>
      </div><!--top_bar-->
    </div>
    <div class="wrap-container">
        <div id="container" class="clearfix">
            <div id="main"><div class="inner-main">
              <div id="register_page">
                <div class="steps-nav-num">
                  <ul class="inline-float">
                    <li class="steps-1st">
                      <span class="dot">1</span>
                    </li>
                    <li class="steps-2nd">
                      <span class="dot">2</span>
                    </li>
                    <li class="steps-3rd">
                      <span class="dot">3</span>
                    </li>
                  </ul>
                </div>
                <h1>基本信息</h1>
                <form action="#" id="form_register" method="post" class="form form-horizontal">
                  <div class="form-item">
                    <label class="form-label" for="username">昵称：</label>
                    <div class="form-field"><input type="text" name="username" id="username" class="form-text" placeholder="6-32个字符"></div>
                  </div>
                  <div class="form-item">
                    <label class="form-label" for="email">邮箱：</label>
                    <div class="form-field"><input type="email" name="email" id="email" class="form-text"><span class="error">请输入正确的邮箱格式</span></div>
                  </div>
                  <div class="form-item">
                    <label class="form-label" for="pwd">密码：</label>
                    <div class="form-field"><input type="password" class="form-text" id="pwd" name="pwd"></div>
                  </div>
                  <div class="form-item">
                    <label class="form-label">性别：</label>
                    <div class="form-field form-field-rc">    
                      <label class="form-label-rc"><input type="radio" name="sex" class="form-radio" value="man" checked="checked"><span>男</span></label>
                      <label class="form-label-rc"><input type="radio" name="sex" class="form-radio" value="woman"><span>女</span></label>
                    </div>
                  </div>
                  <div class="form-action">
                    <button class="formbtn">下一步</button>
                  </div>
                </form>
              </div>
            </div></div><!--main-->
        </div>
    </div><!--wrap-container-->
    <div class="wrap-footer">
        <div id="footer"><div class="inner-footer">
            <p>版权所有：<a href="http://w3cplus.com" target="_blank">w3cplus</a>，作者：<a href="http://weibo.com/2150465537" target="_blank">结一</a></p>
            <p>感谢<a href="http://weibo.com/311290005" target="_blank">大漠</a>，星河棋士及<a href="www.weibo.com/lcllao" target="_blank">Lcllao</a>的支持与帮助。</p>              
        </div></div>
    </div><!--wrap-footer-->
</div>     
</body>
</html>