/* -------------------------------------------------
 * avatar
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\0000317}}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  padding: 0 16px;
  line-height: 28px;
  color: #333333;
  background-color: #e6e6e6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\0000332}}
.btn:hover {
  background-color: #d9d9d9;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\0000339}}
.formbtn, .search-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
  text-align: center;
  border: 0 none;
  font-size: 14px;
  padding: 0 16px;
  height: 28px;
  color: #333333;
  background-color: #e6e6e6;
  *overflow: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\0000355}}
.formbtn:hover, .search-btn:hover {
  background-color: #d9d9d9;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\0000375}}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 21px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\0000383}}
.table, .table th, .table td {
  border: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\0000387}}
.table th, .table td {
  padding: 8px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\0000393}}
.table th {
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\00003113}}
select {
  font-family: Tahoma;
  font-size: 12px;
  margin: 0;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\00003121}}
.form-checkbox,
.form-radio {
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 12px;
  width: 13px;
  height: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\00003135}}
.form-textarea, .search-text,
.form-text, select {
  border: 1px solid #cccccc;
  padding: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\00003142}}
.form-textarea:focus, .search-text:focus,
.form-text:focus, select:focus {
  outline: 0 none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\00003148}}
.form-textarea, .search-text,
.form-text {
  height: 18px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\00003155}}
.form-textarea:focus, .search-text:focus,
.form-text:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\00003162}}
.form-textarea {
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_simple\.scss}line{font-family:\00003168}}
select {
  *margin-top: 5px;
  *margin-bottom: 5px;
  *vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\0000317}}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  padding: 0 16px;
  line-height: 28px;
  color: #333333;
  background-color: #e6e6e6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\0000332}}
.btn:hover {
  background-color: #d9d9d9;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\0000339}}
.formbtn, .search-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
  text-align: center;
  border: 0 none;
  font-size: 14px;
  padding: 0 16px;
  height: 28px;
  color: #333333;
  background-color: #e6e6e6;
  *overflow: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\0000355}}
.formbtn:hover, .search-btn:hover {
  background-color: #d9d9d9;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\0000375}}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 21px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\0000383}}
.table, .table th, .table td {
  border: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\0000387}}
.table th, .table td {
  padding: 8px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\0000393}}
.table th {
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\00003113}}
select {
  font-family: Tahoma;
  font-size: 12px;
  margin: 0;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\00003121}}
.form-checkbox,
.form-radio {
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 12px;
  width: 13px;
  height: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\00003135}}
.form-textarea, .search-text,
.form-text, select {
  border: 1px solid #cccccc;
  padding: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\00003142}}
.form-textarea:focus, .search-text:focus,
.form-text:focus, select:focus {
  outline: 0 none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\00003148}}
.form-textarea, .search-text,
.form-text {
  height: 18px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\00003155}}
.form-textarea:focus, .search-text:focus,
.form-text:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\00003162}}
.form-textarea {
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/sassCore\/_simple\.scss}line{font-family:\00003168}}
select {
  *margin-top: 5px;
  *margin-bottom: 5px;
  *vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobePHP\/example\/basic-simple\/basic-simple\.scss}line{font-family:\0000322}}
.search-btn {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/G\:\/www\/tobePHP\/example\/basic-simple\/basic-simple\.scss}line{font-family:\0000326}}
.form-textarea {
  width: 400px;
  height: 100px;
}
