@charset "UTF-8";
/* -------------------------------------------------
 * imgtextV
 * 图文垂直列表
 * -------------------------------------------------
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003275}}
.imgtext-v-list {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000341}}
.imgtext-v-list:before, .imgtext-v-list:after {
  content: "";
  display: table;
  font: 0/0 a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\0000346}}
.imgtext-v-list:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/core\/_mixin\.scss}line{font-family:\00003305}}
.imgtext-v-list h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextV\.scss}line{font-family:\0000334}}
.imgtext-v-list {
  margin-right: -20px;
  *padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextV\.scss}line{font-family:\0000321}}
.imgtext-v-list li {
  width: 220px;
  margin: 0 20px 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextV\.scss}line{font-family:\0000325}}
.imgtext-v-list img {
  width: 220px;
  height: 130px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextV\.scss}line{font-family:\0000337}}
.imgtext-v-list li {
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextV\.scss}line{font-family:\0000340}}
.imgtext-v-list .img-link {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/tobe\/components\/_imgtextV\.scss}line{font-family:\0000343}}
.imgtext-v-list h3 {
  font-weight: normal;
  line-height: 30px;
}
